

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #F7F7FC;
}

.home-content {
  display: flex;
  justify-content: center;

  .welcome-image {
    height: 480px;
    margin-top: 5%;
  }
}

.table-content {
  padding-top: 5%;
}

#wrapper {
  overflow-x: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.btn-task {
  height: 38px;
  line-height: 0.5em;
  font-size: 1em !important;
}

ul.todo {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  li.checked {
    text-decoration: line-through;
  }

  li {
    cursor: pointer;
    position: relative;
    padding: 8px 4px 6px 20px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  li:nth-child(odd) {
    background: #F7F7FC;
  }

  .controls {
    float: right;

    svg {
      margin: 5px;
    }
  }
}